body{
    background-color: black;
    overflow: hidden;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    bottom:70px;
}

.logo{
    width: 350px;
    position: relative;
    top:50px;
    left: 40px;
}

.login_form{
    position: relative;
    top:100px;
    border-left: 1px solid white;
    padding: 1em;
    margin: 0 -1em;
}

.button{
    background: transparent;
    border: transparent;
    border-bottom: 1px white solid;
    padding: 25px 200px;
    color: white;
    text-align: left;
}

.input1{
    font-size: large;
    padding: 20px 200px; 
    margin-bottom: 40px;
}

.input2{
    font-size: large; 
    padding: 20px 200px;
}

.button::placeholder{
    position: relative;
    right:200px;
    font-size: 20px;
    color: white;
}

.button:active{
    background-color: transparent;
}

.button::backdrop{
    background: transparent;
}

.submit_btn{
    margin-top: 30px;
    background-color: white;
    color: black;
    border-radius: 30px;
    border: transparent;
    font-size:x-large;
    padding: 15px 40px;
    position: relative;
    right: 0px;
}

.submit_btn:hover{
    color: white;
    background-color: black;
    border: 1px solid white;
}

.fa-instagram,.fa-facebook,.fa-twitter{
    color: white;
    margin-left: 30px;
}

.symbols{
    margin-top: 10px;
}

.premium{
    color: white;
    font-size: x-large;
    position: relative;
    bottom: -10px;
}

#checkbox{
    position: relative;
    top:-59px;
    left: 120px;
    width: 20px;
    height: 20px;
}

footer{
    color: white; 
    text-align:center;
    margin: 20px 0px ;
    margin-top: 40px;
    border-top: 2px solid white;
    position: relative;
    top:32vh;
    bottom: 0;
    width: 100vw;
}

i{
    color: white;
    margin-left: 10px;
}

@media screen and (max-width:550px) {
    .main{
        display: flex;
        flex-direction: column;
        bottom: 0px;
    }

    .logo{
        width: 250px;
        top:0px;
        bottom: 0px;
        left: 10px;
    }

    .login_form{
        border-left: none;
        padding: 30px 0px;
        margin: 0 0;
        top:50px;
    }

    .input1, .input2{
        padding: 10px 50px;
        border-radius: 20px;
        margin-left: 20px;
        border: 1px solid white;
    }

    .submit_btn{
        margin-top: 30px;
        background-color: white;
        color: black;
        border-radius: 30px;
        border: transparent;
        font-size:x-large;
        padding: 10px 40px;
        position: relative;
        left: 25px;
    }

    .submit_btn:hover{
        color: white;
        background-color: black;
    }

    .button::placeholder{
        font-size: 15px;
        color: white;
        right: 0;
    }

    input{
        padding: 10px 30px;
    }

    .git{
        margin-left: 25px;
        color: white;
    }

    footer{
        position: fixed;
        top: 88vh;
        color: white; 
        right: 10px;
        border-top: 2px solid white;
        padding-top: 0px;
        margin-top: 0px;
        width: 100vw;
    }
}

@media screen and (max-width:1124px) {
    .logo{
        width: 300px;
    }

    .button{
        padding: 15px 90px;
    }

    .button::placeholder{
        left: -70px;
    }

    .submit_btn{
        padding:10px 20px;
    }
}

@media screen and (max-width:840px) {
    .logo{
        width: 200px;
        top:70px;
    }

    .button{
        padding: 13px 70px;
    }

    .button::placeholder{
        left: -40px;
    }

    .submit_btn{
        padding:10px 20px;
    }
}

@media screen and (max-width:700px) {
    .logo{
        width: 150px;
        top:70px;
    }

    .button{
        padding: 10px 60px;
    }

    .button::placeholder{
        left: -40px;
    }

    .submit_btn{
        padding:8px 15px;
        left:20px;
    }
}

@media screen and (max-width:600px) {
    .logo{
        width: 200px;
        top:0px;
    }

    .button{
        padding: 10px 30px;
    }

    .button::placeholder{
        left: 0px;
    }

    .submit_btn{
        padding:8px 15px;
        left:20px;
    }
}