@font-face {
  font-family: "body-grotesque";
  src: url(../body-grotesque.slim-bold.ttf);
}

@font-face {
  font-family: 'statisfy';
  src: url('../fonts/Satisfy/Satisfy-Regular.ttf');
}

body {
  background: black;
}

.logo{
  width: 200px;
  position: relative;
  left: 80px;
  top:-20px;
}

.navbar{
  display: grid;
  grid-template-columns: 1fr 1fr 300px; 
}

.search{
  position: relative;
  top:20px;
  left: 150px;
}

.search-box{
  border-radius: 20px;
  padding:10px 90px;
  border: transparent;
}

h1{
  color: white;
  font-size: 70px;
  width:600px;
  position: relative;
  left: 60px;
  top:-40px;
  font-weight: 100;
  letter-spacing: 0.20rem;
  /* font-family: "body-grotesque"; */
}

.text{
  color: white;
  font-size: xx-large;
  position: relative;
  left: 60px;
  top: -80px;
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.pic{
  width: 300px;
}

.frame1{
  border: 20px solid white;
  width:300px;
  height: 300px;
  margin-left: 40px;
  margin-top: 30px;
  border-bottom-width: 100px;
}

.right1{
  position: relative;
  right: 70px;
  bottom:30px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  position: relative;
  left: 84px;
}

.playpause-track, .prev-track, .next-track {
  padding: 25px;
  opacity: 0.8;
  color: white;
  /* Smoothly transition the opacity */
  transition: opacity .2s;
}

.playpause-track:hover, .prev-track:hover, .next-track:hover {
  opacity: 1.0;
  color: white;
}

.slider_container {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Modify the appearance of the slider */
.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  color: white;
  background-color: white;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
  color: white;
}

.seek_slider:hover, .volume_slider:hover {
  opacity: 1.0;
  color: white;
}

.seek_slider {
  width: 60%;
  color: white;
}

.volume_slider {
  width: 30%;
  color: white;
}

.current-time, .total-duration {
  padding: 10px;
  color: white;
}

i.fa-volume-down, i.fa-volume-up {
  padding: 10px;
  color: white;
}

i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
  cursor: pointer;
  color: white;
}

.player{
  position: relative;
  bottom: 40px;
  left: 50px;
}

.info{
  color: white;
  font-size: 50px;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  float: right;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 100px; /* Stay at the top */
  right: 60px;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  margin-top: 10px;
  border: transparent;
  border-bottom: 1px solid;
  color: white;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.atext{
  font-size: x-large;
  color: white;
}

button{
  background-color: transparent;
  border: transparent;
}

.lyrics{
  background-color: white;
  border: transparent;
  padding:10px 30px;
  border-radius: 20px;
  position: relative;
  left:150px;
  top:20px;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 35%;
  left:100px;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.lyricsFont{
  text-align: center;
  font-family: 'statisfy';
  font-size:x-large;
}