body{
    background-color: black;
    overflow-x: hidden;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    bottom:70px;
}

.logo{
    width: 350px;
    position: relative;
    top:50px;
    left: 40px;
}

.login_form{
    position: relative;
    top:100px;
    border-left: 1px solid white;
    padding: 1em;
    margin: 0 -1em;
}

.button{
    background: transparent;
    border: transparent;
    border-bottom: 1px white solid;
    padding: 25px 200px;
    color: white;
    text-align: left;
}

.input1{
    font-size: large;
    padding: 20px 200px; 
    margin-bottom: 40px;
}

.input2{
    font-size: large; 
    padding: 20px 200px;
}

.button::placeholder{
    position: relative;
    right:200px;
    font-size: 20px;
    color: white;
}

.button:active{
    background-color: transparent;
}

.button::backdrop{
    background: transparent;
}

.submit_btn{
    margin-top: 30px;
    background-color: white;
    color: black;
    border-radius: 30px;
    border: transparent;
    font-size:x-large;
    padding: 15px 40px;
    position: relative;
    right: 0px;
}

.submit_btn:hover{
    color: white;
    background-color: black;
    border: 1px solid white;
}

.fa-instagram,.fa-facebook,.fa-twitter{
    color: white;
    margin-left: 30px;
}

.symbols{
    position: relative;
    top:150px;
    left:150px;
}

.premium{
    color: white;
    font-size: x-large;
    position: relative;
    bottom: -10px;
}

#checkbox{
    position: relative;
    top:-59px;
    left: 120px;
    width: 20px;
    height: 20px;
}

footer{
    color: white; 
    text-align:center;
    padding: 10px 0px;
    margin: 20px 0px ;
    margin-top: 40px;
    border-top: 2px solid white;
    position: absolute;
    bottom: 0;
    width: 100%;
}


@media screen and (max-width:1080px) {
    .logo{
        width: 250px;
        position: relative;
        top:100px;
        left: 40px;
    }

    .symbols{
        top: 200px;
        left: 100px;
    }

    .login_form{
        position: relative;
        top:100px;
        border-left: 1px solid white;
        padding: 10px 30px;
        margin: 0 -1em;
        margin-top: 30px;
    }

    .button{
        padding: 20px 150px;
    }

    .button::placeholder{
        position: relative;
        left: -130px;
    }
}

@media screen and (max-width:880px) {
    .logo{
        width: 200px;
        position: relative;
        top:100px;
        left: 40px;
    }

    .symbols{
        top: 200px;
        left: 70px;
    }

    .login_form{
        position: relative;
        top:100px;
        border-left: 1px solid white;
        padding: 10px 30px;
        margin: 0 -1em;
        margin-top: 30px;
    }

    .button{
        padding: 20px 100px;
    }

    .button::placeholder{
        position: relative;
        left: -80px;
    }

    .submit_btn{
        padding: 10px 20px;
    }

    .premium{
        left:20px;
    }
}

@media screen and (max-width:480px) {
    .main{
        display: flex;
        flex-direction: column;
        bottom: 0px;
    }

    .logo{
        width: 250px;
        top:0px;
        bottom: 0px;
        left: 10px;
    }

    .login_form{
        border-left: none;
        padding: 30px 0px;
        margin: 0 10px;
        top: 40px;
    }

    .input1, .input2{
        padding: 10px 50px;
    }

    .submit_btn{
        margin-top: 30px;
        background-color: white;
        color: black;
        border-radius: 30px;
        border: transparent;
        font-size:x-large;
        padding: 10px 40px;
        right: 20px;
    }

    .premium{
        position: relative;
        left: 15px;
    }

    .button{
        border: 1px solid white;
        border-radius: 30px;
        margin-bottom: 30px;
        padding: 20px 90px;
    }

    .button::placeholder{
        font-size: 20px;
        color: white;
        right: 0;
    }

    input{
        padding: 10px 30px;
    }

    .git{
        margin-left: 25px;
        color: white;
    }

    .symbols{
        position: absolute;
        top: 95vh;
        left: 90px;
    }

    footer{
        color: white; 
        right: 10px;
        border-top: 2px solid white;
        padding-top: 0px;
        margin-top: 10px;
        position: absolute;
        bottom: 2vh;
        width: 100%;
    }
}

@media screen and (max-width:480px) and (max-height: 800px) {
    .main{
        display: flex;
        flex-direction: column;
        bottom: 0px;
    }

    .logo{
        width: 250px;
        top:0px;
        bottom: 0px;
        left: 10px;
    }

    .login_form{
        border-left: none;
        padding: 30px 0px;
        margin: 0 10px;
        top: -30px;
    }

    .input1, .input2{
        padding: 10px 50px;
    }

    .submit_btn{
        margin-top: 30px;
        background-color: white;
        color: black;
        border-radius: 30px;
        border: transparent;
        font-size:x-large;
        padding: 10px 40px;
        right: 20px;
    }

    .premium{
        position: relative;
        left: 15px;
    }

    .button{
        border: 1px solid white;
        border-radius: 30px;
        margin-bottom: 30px;
        padding: 20px 90px;
    }

    .button::placeholder{
        font-size: 20px;
        color: white;
        right: 0;
    }

    input{
        padding: 10px 30px;
    }

    .git{
        margin-left: 25px;
        color: white;
    }

    .symbols{
        position: absolute;
        top: 112vh;
        left: 90px;
    }

    footer{
        color: white; 
        right: 10px;
        border-top: 2px solid white;
        padding-top: 0px;
        margin-top: 10px;
        position: absolute;
        bottom: -15vh;
        width: 100%;
    }
}