@font-face {
    font-family: 'italiana';
    src: url("../fonts/Italiana/Italiana-Regular.ttf");
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto/Roboto-BoldItalic.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
	margin: 0;
	padding: 0;
	/* background: #642B73;  /* fallback for old browsers */
	/* background: -webkit-linear-gradient(to right, #C6426E, #642B73);  Chrome 10-25, Safari 5.1-6 */
	/* background: linear-gradient(to right, #C6426E, #642B73); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: spotify-circular,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    background-color: black;
    color:white; 
}

h1{
    font-size: 70px;
    color:white;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color:gold;
}

.alist{
    background-color: transparent;
    border-color: white;
    color:white;
    font-size: 20px;
}

button{
    border: transparent;
    background: transparent;
    color:white;
}

.songname{
    visibility: hidden;
    display: none;
}

.logo{
    position: relative;
    z-index: 1;
    width: 250px;
    height: auto;
    margin-left: 60px;
    /* bottom:120px; */
    right:80px;
    margin-bottom: 50px;
}

.heading{
    position: relative;
    top:120px;
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
}

table{
    text-align: center;
}

tr,td{
    border: transparent;
    /* border-bottom: 2px solid rgb(143, 143, 75); */
    padding: 15px;
    font-family: 'roboto';
    font-size: large;
}

.table_heading{
    font-family: 'italiana';
    font-weight: 700;
    letter-spacing: 2px;
    font-size: larger;
    border-bottom: 2px solid rgb(118, 118, 69);
}

.songList{
    border: transparent;
    margin-bottom: 10px;
}

.songList:hover{
    background-color: rgb(39, 36, 36);
}

.artist_info{
    display: grid;
    grid-template-columns: 300px 1fr;
}

@media screen and (max-width:540px) {
    .artist_info{
        display: flex;
        flex-direction: column;
    }

    .artist_info p{
        font-size: small;
    }

    .artist_pic{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .artist_pic img{
        border-radius: 50%;
    }
}

.songTable{
    margin-top: -70px;
}

footer{
    color: white; 
    text-align:center;
    padding: 10px 0px;
    margin: 20px 0px ;
    margin-top: 40px;
    border-top: 2px solid white;
}

i{
    margin-right: 10px;
}