@font-face{
    font-family: 'headingfont';
    src: url('../fonts/howells.ttf')
         format('truetype');
}

#heading{
    font-family: 'headingfont';
    font-size: 250px;
    color:white;
    margin-left: 20px;
    margin-top: 30px;
}

body{
    position: relative;
    background-image: url("../images/Black\ and\ White\ Simple\ Dark\ Marketing\ Site\ Launch\ Website.png");
    background-repeat:no-repeat;
    background-size:100% 100vh;
    z-index: -1;
    overflow: hidden;
}

.text{
    position: relative;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    left:65px;
    bottom: 40px;
}

.button{
    border-radius: 30px;
    margin-top: 10px;
    padding:7px 45px;
    font-size: 15px;
    font-weight: bold;
}

.buttons{
    margin-top: 570px;
    margin-left: 65px;
    position: relative;
    bottom: 530px;
}

.logo{
    position: relative;
    bottom: 40px;
    z-index: 1;
    width: 450px;
    height: auto;
    margin-left: 60px;
}

.signupbtn{
    padding-right: 36px;
}

footer{
    color: white; 
    text-align:center;
    padding: 10px 0px;
    margin: 20px 0px ;
    margin-top: 40px;
    border-top: 2px solid white;
}