<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/99352e98c2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/music.css">
    <title>Document</title>
    <style>
        pre,h3{
            color: white;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-left: 20px;
            letter-spacing: 0.05rem;
            text-align: center;
        }
        h3{
            font-size: x-large;
            margin-bottom: 30px;
            padding-bottom: 20px;
            border-bottom: 2px solid white;
        }
    </style>
</head>
<body>
    {{#each song}}
        <body style="overflow-x: hidden;">
            <div class="navbar">
                <div>
                    <form action="/home" method="post">
                        <button><img src="./images/cadenza logo.png" alt="logo" class="logo"></button>
                    </form>
                </div>
                <div>
                    <img src="{{song_pic_link}}" alt="pic" style="width: 150px; position:relative; left:143px;">
                </div>
                <div class="player" style="position: relative; top:20px; left:0px;">
                        <div class="slider_container" style="position: relative; left:50px;">
                            <div class="current-time">00:00</div>
                            <input type="range" min="1" max="100" value="0" class="seek_slider" onchange="seekTo()">
                            <div class="total-duration">00:00</div>
                        </div>
                        <div class="buttons" >
                            <div class="prev-track"><form action="/newsong" method="post"><button><i class="fa fa-step-backward fa-2x"></i></button></form></div>
                            <div class="playpause-track" onclick="playpauseTrack('{{song_link}}')"><i class="fa fa-solid fa-play fa-3x"></i></div>
                            <div class="next-track"><form action="/newsong" method="post"><button><i class="fa fa-step-forward fa-2x"></i></button></form></div>
                        </div>
                    </div>
            </div>
            <h3>Lyrics of {{song_name}}</h3>
            <pre class="lyricsFont">{{lyrics}}</pre>
    {{/each}}
    <footer >
        Made by Aaron Nazareth
    </footer>
</body>
<style>
    .navbar{
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script src="js/music.js"></script>
</html>