<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/topmusicnew.css">
    <script src="https://kit.fontawesome.com/99352e98c2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper">
        <h1>Supercharge the week</h1>
        <div class="cards">
            <form action="/getmusicglobal" method="post">
                <div class="card">
                    <div class="overlayer">
                        <button><i class="far fa-play-circle"></i></button>
                    </div>
                    <img src="./images/albums/region_global_large.jpg" alt="">
                    <div class="title">
                        <button>Global top 20</button>
                    </div>
                </div>	
            </form>
            <form action="/getmusicindia" method="post">
                <div class="card">
                    <div class="overlayer">
                        <button><i class="far fa-play-circle"></i></button>
                    </div>
                    <img src="./images/albums/region_in_large.jpg" alt="">
                    <div class="title">
                        <button>India top 20</button>
                    </div>
                </div>
            </form>
            
            <form action="/getmusictrend" method="post">
                <div class="card">
                    <div class="overlayer">
                        <button><i class="far fa-play-circle"></i></button>
                    </div>
                    <img src="./images/albums/region_global_large (2).jpg" alt="">
                    <div class="title">
                        <button>Trending</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="wrapper">
        <h1>Artists</h1>
        <div class="cards">
            {{#each artist}}
                {{#if artist_name}}
                    <form action="/getmusicartist" method="post">
                        <div class="card">
                            <div class="overlayer">
                                <button><i class="far fa-play-circle"></i></button>
                            </div>
                            <img src="{{artist_pic}}" alt="">
                            <div class="title">
                                <button><input type="text" value="{{artist_id}}" name="artistid">{{artist_name}}</button>
                            </div>
                        </div>
                    </form>
                {{/if}}
            {{/each}}
        </div>
    </div>
</body>
</html>